body{
    margin: 0px;
    padding: 0px;
}
.rojo{
    background-color: red;
}
.naranja{
    background-color: orange;
}
.amarillo{
    background-color: yellow;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.indigo{
    background-color: indigo;
}
.violeta{
    background-color: violet;
}
h2{
    font-size: 10vw;
    padding-left: 7vw;
    color:#ffffff;
}
h3{
    font-size: 2vw;
    margin-top: 0;
    padding-left: 7vw;
    color: #ffffff;
}
div{
    height: 90vh;
}
.navegacion{
    height: 5vh;
    background-color:black;
    font-size:xx-large ;
    position:fixed;
    top: 0px;
    width: 100%;
    text-align: center;
}
